/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}
img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
/* ********************************** */
.container {
  display: flex;
  flex-direction: column;
}

.element {
  text-align: left;
  padding: 30px;
  background: blue;
  color: white;
}

img {
  display: block;
  margin: auto;
}

h2,
h3,
h4,
p {
  text-align: center;
}

/* css header */
header {
  background: lightgreen;
  background-image: url("../img/resto.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* css header */

/* css main */
main {
  background: lightblue;
}
/* css main */

h2 {
  font-size: 100px;
  font-family: "Itim", Arial, Helvetica;
  color: #fff;
  padding-top: 236px;
  padding-bottom: 119px;
}
h3 {
  font-size: 99px;
  font-family: "Itim", Arial, Helvetica;
  color: #000;
  padding-top: 98px;
  padding-bottom: 47px;
}

h4 {
  font-size: 60px;
  font-family: "Itim", Arial, Helvetica;
  color: #fff;
  padding-top: 74px;
  padding-bottom: 56px;
}

.blc-intro {
  background: orange;
  border-radius: 15px;
  padding: 34px 75px 34px 75px;
  font-family: "Itim", Arial, Helvetica;
}

p main {
  font-size: 38px;
  font-family: "Itim", Arial, Helvetica;
  color: #000;
  padding-bottom: 151px;
}

p,
nav {
  font-family: "Itim", Arial, Helvetica;
}

main img {
  padding: 15px;
}

/* css footer */
footer {
  background: lightsalmon;
}
/* css footer */

/* code boutton */
button {
  display: inline-block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: none #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #f7c2f9;
}

/* code boutton */

.réseaux {
  margin-top: 90px;
  margin-bottom: 40px;
}

/* bootstrap ->  */

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;

  padding-bottom: 12px;

  background-color: rgba(255, 0, 0, 0.15);

  border: 1px solid rgba(102, 0, 255, 0.2);
} */
/* bootstrap ->  */
