/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}
img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
/* ********************************** */
.container {
  display: flex;
  flex-direction: column;
}

.section {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.element {
  text-align: left;
  padding: 30px;
  background: blue;
  color: white;
}

img {
  display: block;
  margin: auto;
}

h2,
h3,
h4,
p {
  text-align: center;
}

/* css header */
header {
  background-image: url("../img/resto.png");
  background-repeat: no-repeat;
  background-size: 100%;
  aspect-ratio: 1.5;
}

.menu {
  background-color: #b14920;
  display: flex;
  flex-direction: row;
  padding: 12px;
  color: #fff;
}

.box {
  text-decoration: none;
  font-family: "Itim", Arial, Helvetica;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* position: fixed; */
}

header img {
  margin-top: 200px;
}

/* css header */

/* css main */
.haut {
  background: #74594e;
  background-image: url("../img/trait\ déco\ 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  aspect-ratio: 1.5;
}

.bas {
  background: #c0a699;
  background-image: url("../img/trait\ déco\ 2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  aspect-ratio: 1.5;
}

/* css main */

.blc-intro {
  background: #ad8b75;
  border-radius: 15px;
  padding: 34px 75px 34px 75px;
  font-size: 40px;
  font-family: "Itim", Arial, Helvetica;
  height: 272px;
  color: #fff;
}

.sur-texte {
  color: #cbb5a7;
}

h2 {
  font-size: 100px;
  font-family: "Itim", Arial, Helvetica;
  color: #fff;
  padding-top: 236px;
  padding-bottom: 119px;
}
h3 {
  font-size: 99px;
  font-family: "Itim", Arial, Helvetica;
  color: #000;
  padding-top: 98px;
  padding-bottom: 47px;
}

h4 {
  font-size: 60px;
  font-family: "Itim", Arial, Helvetica;
  color: #fff;
  padding-top: 74px;
  padding-bottom: 56px;
}

main p {
  font-size: 40px;
  font-family: "Itim", Arial, Helvetica;
  color: #fff;
  /* padding-bottom: 151px; */
}

p,
nav {
  font-family: "Itim", Arial, Helvetica;
}

main img {
  padding: 15px;
}

/* css footer */
footer {
  background: #74594e;
  color: #fff;
}
/* css footer */

/* code boutton */
button {
  display: inline-block;
  background-color: #2b231f;
  border-radius: 15px;
  border: none;
  color: #eeeeee;
  text-align: center;
  font-size: 32px;
  font-family: "Itim", Arial, Helvetica;
  padding: 20px;
  width: 245px;
  height: 79px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
button:hover {
  background-color: #ffffff;
  color: #2b231f;
}

.btt {
  display: flex;
  justify-content: center;
  margin: 60px;
}

/* code boutton */

.réseaux {
  margin-top: 90px;
  margin-bottom: 40px;
}

/* bootstrap ->  */

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;

  padding-bottom: 12px;

  background-color: rgba(255, 0, 0, 0.15);

  border: 1px solid rgba(102, 0, 255, 0.2);
} */
/* bootstrap ->  */
