/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}
img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}
/* ********************************** */

img {
  display: block;
  margin: auto;
}

h2,
h3,
h4,
p {
  text-align: center;
}

/* css header */
header {
  background: lightgreen;
  background-image: url("../img/resto.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

/* css header */

/* css main */
main {
  background: lightblue;
}
/* css main */

/* css footer */
footer {
  background: lightsalmon;
}
/* css footer */

/* code boutton */
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* code boutton */

/* bootstrap ->  */

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;

  padding-bottom: 12px;

  background-color: rgba(255, 0, 0, 0.15);

  border: 1px solid rgba(102, 0, 255, 0.2);
} */
/* bootstrap ->  */
